<h3>Contents of /EventEaseApp/EventEaseApp/src/Components/ExampleComponent.razor</h3>

@code {
    // ExampleComponent logic can be added here
}

<div>
    <h3>Example Component</h3>
    <p>This is an example of a reusable Blazor component.</p>
</div>